<h1 class="section-title">Education</h1>
<div class="education-section-content">
    <div id="school-info">
        <img src="assets/img/uno_logo.png">
        <div id="student-info">
            <h2>University of New Orleans</h2>
            <h3>B.S. Computer Science</h3>
            <h4>Graduation Date: December 2021</h4>
            <h4>Final GPA: 3.99/4.0</h4>
        </div>
    </div>
    <div class="course-detail">
        <div class="coursework">
            <div class="courses">
                <h3>Relevant Coursework:</h3>
                <ul>
                    <li>Data Structures & Algorithms (CSCI 2125)</li>
                    <li>Machine Structure and Assembly Language (CSCI 2450)</li>
                    <li>Systems Programming (CSCI 2467)</li>
                    <li>Theory of Computation (CSCI 3102)</li>
                    <li>Python for Data Science & Artificial Intelligence (CSCI 3220)</li>
                    <li>Computer Design & Organization (CSCI 3301)</li>
                    <li>Analysis of Algorithms (CSCI 4101)</li>
                    <li>Database Systems (CSCI 4125)</li>
                    <li>Computer Networks and Telecommunications (CSCI 4311)</li>
                    <li>Operating Systems (CSCI 4401)</li>
                    <li>Cloud Computing (CSCI 4452)</li>
                    <li>Programming Language Structure (CSCI 4501)</li>
                </ul>
            </div>
        </div>
    </div>
</div>