<footer class="footer"></footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/scripts/particles.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="{{ '/assets/scripts/typewriter.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/scripts/navigation-bar.js' | prepend: site.baseurl }}"></script>